#main {
    display: grid;
    position: relative;
}

#main.cover:not(.fade-in),
#main.content.fade-in {
    width: 75%;
    grid-template-rows: repeat(3, 1fr);
}

#main.content:not(.fade-in),
#main.cover.fade-in {
    width: calc(100% - 2rem);
    margin: 1rem 1rem 0;
    grid-template-columns: calc(85% - 1rem) calc(15% - 1rem);
}

.fade-in {
    animation: fade-in 450ms ease-out;
}

.fade-out {
    animation: fade-out 450ms ease-in;
}

@keyframes fade-in {
    80%, 100% {
        opacity: 0;
    }
}

@keyframes fade-out {
    0%, 20% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}