@import "../Color.css";

#search-engine {
    display: flex;
    width: 100%;
}

#shadow {
    position: absolute;
    top: 6rem;
    left: .5rem;
    height: 5rem;
    width: calc(100% - .4rem);
    background-color: transparent;
    border: .2rem solid var(--color-illuminating);
    z-index: -1;
}

#icon-block {
    grid-column-start: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: var(--color-blue-nights);
    border-top: .2rem solid var(--color-chrome);
    border-left: .2rem solid var(--color-chrome);
    border-bottom: .2rem solid var(--color-chrome);
    border-right: .1rem solid var(--color-chrome);
}

#search-block {
    grid-column-start: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-blue-nights);
    border-top: .2rem solid var(--color-chrome);
    border-left: .1rem solid var(--color-chrome);
    border-bottom: .2rem solid var(--color-chrome);
    border-right: .2rem solid var(--color-chrome);
}

#back-end-engine {
    position: absolute;
    border: none;
    margin: 0 8px;
    padding: 0 2.5ch;
    text-align: center;
    cursor: text;
    font-weight: bold;
    font-size: 2.5rem;
    color: var(--color-prism-pink);
    background-color: transparent;
    caret-color: var(--color-illuminating);
    overflow: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
}

#back-end-engine:focus {
    outline: none;
}

#back-end-engine::-webkit-search-decoration,
#back-end-engine::-webkit-search-cancel-button,
#back-end-engine::-webkit-search-results-button,
#back-end-engine::-webkit-search-results-decoration {
    display: none;
}

#caret {
    position: relative;
    top: 2.9ex;
    display: inline-block;
    background-color: transparent;
    font-size: inherit;
    width: 2.5ch;
    height: 0.2rem;
}

#caret.on {
    background-color: var(--color-illuminating);
}

