@import "../Color.css";

#search-engine {
    display: flex;
    width: 100%;
}

#icon-block {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-serenity);
    border-top: 4px solid var(--color-granite-gray);
    border-left: 4px solid var(--color-granite-gray);
    border-bottom: 4px solid var(--color-granite-gray);
    border-right: 2px solid var(--color-granite-gray);
}

#search-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 8;
    background-color: white;
    border-top: 4px solid var(--color-granite-gray);
    border-left: 2px solid var(--color-granite-gray);
    border-bottom: 4px solid var(--color-granite-gray);
    border-right: 4px solid var(--color-granite-gray);
    /*-webkit-text-stroke: 1px var(--color-granite-gray);*/
}

#search-text {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
    padding: 0 .5rem;
    color: var(--color-serenity);
}

#cursor {
    position: relative;
    right: .5ch;
    display: inline-block;
    background-color: transparent;
    font-size: inherit;
    width: 1.75ch;
    height: 2rem;
    transform: skewX(-14deg);
}

#cursor.on {
    background-color: var(--color-granite-gray);
}

