@import "../Color.css";

#search-engine {
    display: flex;
    width: 100%;
}

#shadow {
    position: absolute;
    top: 5rem;
    left: .5rem;
    height: 4rem;
    width: calc(100% - .4rem);
    background-color: var(--color-rose-quartz);
    border: .2rem solid var(--color-granite-gray);
    z-index: -1;
}

#icon-block {
    grid-column-start: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    background-color: var(--color-serenity);
    border-top: .2rem solid var(--color-granite-gray);
    border-left: .2rem solid var(--color-granite-gray);
    border-bottom: .2rem solid var(--color-granite-gray);
    border-right: .1rem solid var(--color-granite-gray);
}

#search-block {
    grid-column-start: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-top: .2rem solid var(--color-granite-gray);
    border-left: .1rem solid var(--color-granite-gray);
    border-bottom: .2rem solid var(--color-granite-gray);
    border-right: .2rem solid var(--color-granite-gray);
}

#search-text, #back-end-engine {
    position: absolute;
    border: none;
    margin: 0 8px;
    padding: 0 2.5ch;
    text-align: center;
    cursor: text;
    font-family: "JetBrains Mono", monospace;
    font-style: italic;
    font-weight: 800;
    font-size: 2.5rem;
    color: var(--color-cloud-dancer);
    -webkit-text-stroke: .05rem var(--color-granite-gray);
    overflow: auto;
    white-space: pre;
    -ms-overflow-style: none;
}

#search-block > #search-text::-webkit-scrollbar {
    display: none;
}

#caret {
    position: relative;
    top: 2.9ex;
    display: inline-block;
    background-color: transparent;
    font-size: inherit;
    width: 2.5ch;
    height: 0.2rem;
    transform: skewX(-12deg);
}

#caret.on {
    background-color: var(--color-granite-gray);
}

