@import "../Color.css";

#subtitle {
    background-color: transparent;
    margin-top: 1.5rem;
    margin-left: .5rem;
    width: 12rem;
    border: .2rem solid var(--color-chrome);
    text-align: center;
    font-family: "Noto Sans Kr", sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--color-illuminating);
}

#main.cover:not(.fade-in) #subtitle,
#main.content.fade-in #subtitle{
    display: block;
}

#main.content:not(.fade-in) #subtitle,
#main.cover.fade-in #subtitle {
    display: none;
}

.low-emphasis {
    color: var(--color-ultimate-gray);
    font-size: 0.8em;
}