:root {
    --color-rose-quartz: #F7CACA;
    --color-serenity: #93A9D1;
    --color-cloud-dancer: #F0EEE9;
    --color-lupine: #BE9CC1;
    --color-luminary-green: #E3EAA5;
    --color-granite-gray: #615F5F;
    --color-arctic-ice: #BFC7D6;
    --color-opal-blue: #C3DDD6;
    --color-puritan-gray: #A8B0AE;
    --color-blue-nights: #363B48;
    --color-ultimate-gray: #939597;
    --color-illuminating: #F5DF4D;
    --color-prism-pink: #F0A1BF;
    --color-placid-blue: #8CACD3;
    --color-chrome: #888789;
    --color-lavender: #AFA4CE;
}