@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,800&family=Noto+Sans+KR:wght@300;400;700&family=Share+Tech+Mono&family=Major+Mono+Display&display=swap');

* {
    font-family: 'JetBrains Mono', sans-serif;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 2vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
