@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,800&family=Noto+Sans+KR:wght@300;400;700&family=Share+Tech+Mono&family=Major+Mono+Display&display=swap');
@import "Color.css";
@import "~d2coding/d2coding-ligature-full.css";

* {
    font-family: 'D2Coding', sans-serif;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 2vh;
    background-color: var(--color-blue-nights);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root.cover {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#root.top {
    align-items: flex-start;
}
